.logo-section {
  position: relative;
}
.logo-section__block {
  padding-top: 28px;
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
}


.logo-section::before {
  position: absolute;
  content: "";
  top: -118px;
  bottom: -161px;
  right: 0;
  left: 0;
  background-image: url("../img/Main(1).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  z-index: -1;
}
