*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
.button-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}


h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

picture {
  display: block;
  line-height: 0;
  font-size: 0;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}
